
#nav
{
	padding-left: 60%;
	background-color:#F64D4D;;
	width:40%;
	height:60px;
}
#nav ul
{
	margin:0;
	padding:0;
	list-style:none;
	text-align:left;
}
#nav ul li 
{
	display:inline-block;
}

#nav ul li a 
{
	text-decoration:none;
	padding:20px 20px;
	display:block;
	font-weight:bolder;
	color:white;
}
#nav ul li a:hover
{
	background-color:rgb(235, 135, 135);
}
#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#image img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    
}
.pic1{
    margin-top: 20px;
}
#image h1 
{
    display: block;
    text-align: center;
    font-size: 30px;
    
    
}
#image h3{
    margin-top: -20px;
    margin-bottom: 70px;
    display: block;
    text-align: center;
    color: blue;
    font-size: 18px;
}
#About-Us
{
    margin: 0px;
    padding: 5px;
    
    text-align: center;
    line-height: 1.4;
    font: 50px;
    font-size: large;
  }

.about{
    display: flex;
    margin: 0px;
    
}
.about-us-header{
    margin-bottom: -10px;
    color: #F64D4D;
}
.about-head{
    display: block;
    color: #F64D4D;
    
}
.about-par{
    display: inline-block;
}
.mv{
    display: flex;
    
}
.vision{
    padding: 5% 5% 5% 5%;
   
    background-color: lightgray;
}
.mission{
    padding: 5% 5% 5% 5%;
    
    background-color: darkgrey;
    
}
.obj{
    margin-top: -23.9px;
    display: block;
    text-align: center;
    
    color: black;
    
}
.obj-head, .activ-head{
    color: #F64D4D;
}
.obj ul li {
    text-decoration: none;
}
.staff{
    display: block;
}
.staff-head{
    color: #F64D4D;
}
.pro-head{
    color: #F64D4D;
}
.projects{
    display: flex;
    justify-content: space-between;
}
.p1 , .part1{
    width: 100%;
}

.p1{
    margin: 0;
    padding: 0;
    width: 10px;
}

.p-head{
    margin-bottom: 0;
    color: #f0f0f0;
    background-color: #5f5d5d;
    height: 80px;
    width: 500px;
    text-align: center;
}
.p-par{
    margin-top: 0;
    background-color: lightgrey;
    width: 500px;
}
.p1, .part1 .p2 .p3{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.part1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.part1 .p2, .part1 .p3{
    flex: 1;
}
.p2{
    margin-bottom: -35px;
}
.p4, .p5, .p6, .p7{
    width: 100%;
    height: 100%;
    object-fit: cover
}
#contact-us{
    background-color: #F64D4D;
    display: flex;
    width: 100%;
    height: 100%;
    

}
.left{
    margin-right: 30%;
    margin-left: 10%;
    
}
.right{
    margin-right: 20%;
}
.left-head{
    color: #5f5d5d;
    margin-bottom: -10px;
    margin-top: 0px;
}
.right-head{
    color: #5f5d5d;
}
input{
    width: 100%;
    height: 20%;
    border-radius: 10px;
    border-style: none;
    text-decoration: none;
}
button{
    width: 100px;
    margin-left: 100px;
    border-radius: 10px;
    border-style: none;
    height: 30px;
}
button:hover{
    background-color: black;
    color: #F64D4D;

}
.left-par{
    margin-bottom: -10px;
}

a{
    text-decoration: none;
}
a:hover{
    opacity: 0.3;
}